<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:allowBackup="true" android:label="EduNexa" android:icon="@drawable/edunexa_logo" android:roundIcon="@drawable/edunexa_logo" android:theme="@style/Theme.EduNexa">
        <activity android:name=".ResultCalculatorActivity" android:exported="false"/>
        <activity android:name=".ToolsActivity" android:exported="false"/>
        <activity android:name=".ImageMergeActivity" android:exported="false"/>
        <activity android:name=".MarksheetMakerActivity" android:exported="false"/>
        <activity android:name=".PhotoSignatureToolActivity" android:exported="false"/>
        <activity android:name=".TargetKbToolActivity" android:exported="false"/>
        <activity android:name=".PdfToolkitActivity" android:exported="false"/>
        <activity android:name=".AdminActivity" android:exported="false"/>
        <activity android:name=".SchoolActivity" android:exported="false"/>
        <activity android:name=".StudentManagementActivity" android:exported="false"/>
        <activity android:name=".PublishResultActivity" android:exported="false"/>
        <activity android:name=".StudentResultsActivity" android:exported="false"/>
        <activity android:name=".AttendanceActivity" android:exported="false"/>
        <activity android:name=".StudentAttendanceActivity" android:exported="false"/>
        <activity android:name=".PublishMcqActivity" android:exported="false"/>
        <activity android:name=".StudentMcqActivity" android:exported="false"/>
        <activity android:name=".McqHistoryActivity" android:exported="false"/>
        <activity android:name=".PublishNoticeActivity" android:exported="false"/>
        <activity android:name=".JoinSchoolActivity" android:exported="false"/>
        <activity android:name=".NoticeActivity" android:exported="false"/>
        <activity android:name=".MainActivity" android:exported="false"/>
        <activity android:name=".PendingApprovalActivity" android:exported="false"/>
        <activity android:name=".AuthActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
    </application>
</manifest>
